:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  // font-family: "Inter var experimental", "Inter var", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #ffffffde;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

h2 {
  margin: 0;
  font-size: 1em;
}

h3 {
  margin: 0;
  font-size: 0.8em;
}

p {
  margin: 0;
}

.spacer {
  display: block;
  height: 0.25em;
}

.nowrap {
  white-space: nowrap;
  text-wrap: none;
}

.center {
  text-align: center;
}

div.vr {
  margin: 0 0.5em;
  border: 0;
  width: 0.05em;
  background: var(--wotstat-separator);
  border-radius: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;

  &.ver {
    flex-direction: column;
  }

  &.start {
    justify-content: start;
  }

  &.space-between {
    justify-content: space-between;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.float-right {
  float: right;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: none;
}


input {
  border: none;
  border-bottom: solid 1px rgba(129, 129, 129, .2431372549);
  padding: 5px;
  border-radius: 5px;
}