:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

h2 {
  margin: 0;
  font-size: 1em;
}

h3 {
  margin: 0;
  font-size: 0.8em;
}

p {
  margin: 0;
}

.spacer {
  display: block;
  height: 0.25em;
}

.nowrap {
  white-space: nowrap;
  text-wrap: none;
}

.center {
  text-align: center;
}

div.vr {
  margin: 0 0.5em;
  border: 0;
  width: 0.05em;
  background: var(--wotstat-separator);
  border-radius: 1em;
}

.flex {
  display: flex;

  &.ver {
    flex-direction: column;
  }

  &.start {
    justify-content: start;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}