name: Build and Publish

on:
  push:
    branches:
      - main 
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Upload to s3
        run: |
          aws s3 sync ./dist s3://clan.nearyou.team \
            --cache-control "max-age=31104000, public" \
            --endpoint-url=https://storage.yandexcloud.net/ \
            --delete

          aws s3 cp \
            s3://clan.nearyou.team/index.html s3://clan.nearyou.team/index.html \
            --cache-control "public, max-age=300" \
            --endpoint-url=https://storage.yandexcloud.net/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ru-central1